<div class="row">
    <div class="col-md-1">
        <i class="fa fa-github fa-3x" style="line-height: inherit"></i>
    </div>

    <div class="col-md-8 col-md-offset-1">
        <h3>Development</h3>
    </div>
</div>

<hr>

<div class="news-panel center">
    <div align="center">
        <a class="github-button" href="https://github.com/shogun-toolbox/shogun" data-icon="octicon-star"
           data-style="mega"
           data-count-href="/shogun-toolbox/shogun/stargazers"
           data-count-api="/repos/shogun-toolbox/shogun#stargazers_count" data-count-aria-label="# stargazers on GitHub"
           aria-label="Star shogun-toolbox/shogun on GitHub">Star</a>

        <a class="github-button" href="https://github.com/shogun-toolbox/shogun" data-icon="octicon-eye"
           data-style="mega"
           data-count-href="/shogun-toolbox/shogun/watchers"
           data-count-api="/repos/shogun-toolbox/shogun#subscribers_count"
           data-count-aria-label="# watchers on GitHub" aria-label="Watch shogun-toolbox/shogun on GitHub">Watch</a>

        <a class="github-button" href="https://github.com/shogun-toolbox/shogun/fork" data-icon="octicon-git-branch"
           data-style="mega" data-count-href="/shogun-toolbox/shogun/network"
           data-count-api="/repos/shogun-toolbox/shogun#forks_count" data-count-aria-label="# forks on GitHub"
           aria-label="Fork shogun-toolbox/shogun on GitHub">Fork</a>
    </div>

    <div>
        <a href="https://travis-ci.org/shogun-toolbox/shogun"><img
                src="https://camo.githubusercontent.com/c96da9368633b3084fcc0cd5d42ef3964c2be7f6/68747470733a2f2f7472617669732d63692e6f72672f73686f67756e2d746f6f6c626f782f73686f67756e2e706e673f6272616e63683d646576656c6f70"
                alt="Build Status" data-canonical-src="https://travis-ci.org/shogun-toolbox/shogun.png?branch=develop"
                style="max-width:100%;"></a>
        <a href="https://coveralls.io/r/shogun-toolbox/shogun?branch=develop"><img
                src="https://camo.githubusercontent.com/b9372c55222f597662eb2ec02e683f809e2fecae/68747470733a2f2f636f766572616c6c732e696f2f7265706f732f73686f67756e2d746f6f6c626f782f73686f67756e2f62616467652e706e673f6272616e63683d646576656c6f70"
                alt="Coverage Status"
                data-canonical-src="https://coveralls.io/repos/shogun-toolbox/shogun/badge.png?branch=develop"
                style="max-width:100%;"></a>
        <a href="http://buildbot.shogun-toolbox.org/waterfall">Buildbot</a>

    </div>

    <div id="latest-commits-widget">
        <ul id="commit-history-widget"></ul>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            githubCommits();
        });
    </script>

</div>