<div class="row">
    <div class="col-md-1">
        <i class="fa fa-github fa-3x" style="line-height: inherit"></i>
    </div>

    <div class="col-md-8 col-md-offset-1">
        <h3>Development</h3>
    </div>
</div>

<hr>

<div class="news-panel center">
    <div align="center">
 	<a class="github-button" href="https://github.com/shogun-toolbox/shogun" data-icon="octicon-star"
           data-style="mega"
           data-count-href="/shogun-toolbox/shogun/stargazers"
           data-count-api="/repos/shogun-toolbox/shogun#stargazers_count" data-count-aria-label="# stargazers on GitHub"
           aria-label="Star shogun-toolbox/shogun on GitHub">Star</a>

        <a class="github-button" href="https://github.com/shogun-toolbox/shogun" data-icon="octicon-eye"
           data-style="mega"
           data-count-href="/shogun-toolbox/shogun/watchers"
           data-count-api="/repos/shogun-toolbox/shogun#subscribers_count"
           data-count-aria-label="# watchers on GitHub" aria-label="Watch shogun-toolbox/shogun on GitHub">Watch</a>

        <a class="github-button" href="https://github.com/shogun-toolbox/shogun/fork" data-icon="octicon-git-branch"
           data-style="mega" data-count-href="/shogun-toolbox/shogun/network"
           data-count-api="/repos/shogun-toolbox/shogun#forks_count" data-count-aria-label="# forks on GitHub"
           aria-label="Fork shogun-toolbox/shogun on GitHub">Fork</a>
        <br/>
	<a href="https://github.com/shogun-toolbox/shogun/releases/latest"><img src="https://img.shields.io/github/release/shogun-toolbox/shogun.svg" alt="Shogun release link"></a>
        <a href="https://dev.azure.com/shogunml/shogun/_build/latest?definitionId=-1" rel="nofollow"><img src="https://camo.githubusercontent.com/ec40bbd30b69f549fbacc457bb18536ee8251ee4/68747470733a2f2f6465762e617a7572652e636f6d2f73686f67756e6d6c2f73686f67756e2f5f617069732f6275696c642f7374617475732f73686f67756e2d4349" alt="Build status" data-canonical-src="https://dev.azure.com/shogunml/shogun/_apis/build/status/shogun-CI" style="max-width:100%;"></a>
        <a href="http://numfocus.org"><img
                src="https://img.shields.io/badge/powered%20by-NumFOCUS-orange.svg?style=flat&colorA=E1523D&colorB=007D8A" alt="Powered by NumFocus"></a>

    </div>

    <div id="latest-commits-widget">
        <ul id="commit-history-widget"></ul>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            githubCommits();
        });
    </script>

</div>
