{{ analytics }}

<div id="footer">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-2">
        <h4>Contact Us</h4>
        <p>

        </p>
      </div>

      <div class="col-md-2">
        <h4>Mailing List</h4>
        <p>
          <a href="mailto:shogun-list-subscribe@shogun-toolbox.org" target="_blank">Subscribe</a><br/>
          <a href="mailto:shogun-list-unsubscribe@shogun-toolbox.org" target="_blank">Unsubscribe</a><br/>
          <a href="mailto:shogun-list@shogun-toolbox.org" target="_blank">Post</a><br/>
          <a href="http://news.gmane.org/gmane.comp.ai.machine-learning.shogun" target="_blank">Read the archive</a><br/>
        </p>
      </div>

          <div class="col-md-3">
        <h4>HELP?!?</h4>
        <p>
          Ask questions on <a href="http://stackoverflow.com/questions/tagged/shogun" target="_blank">StackOverflow</a><br>
          Report problems on <a href="https://github.com/shogun-toolbox/shogun/issues" target="_blank">GitHub</a>
        </p>
      </div>

      <div class="col-md-3">
        <h4>IRC</h4>
        <p>
          Chat with us on IRC - <strong>#shogun</strong> on freenode. You can also connect with <a href="http://webchat.freenode.net/?channels=shogun&amp;uio=d4" target="_blank">webchat#shogun</a> directly in your browser. All chats are logged <a href="/irclogs">here</a> for your convience.
        </p>
      </div>

      <div class="col-md-2">
        <h4>Citing Shogun</h4>
        <p>
          If you use SHOGUN in your research you are kindly asked to <a href="https://zenodo.org/badge/latestdoi/1555094" target="_blank">cite its DOI</a>.
        </p>
      </div>
    <hr>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <a href="http://www.numfocus.org/" target="_blank">
          <img src="{{ url_for('static', filename='images/numfocus.png') }}" border="0" alt="NumFOCUS Logo" align="left" width="35%" style="padding: 6px 8px 8px 8px;"/>
        </a>
        <p align="justify">
          Shogun is a fiscally sponsored project of NumFOCUS, a nonprofit dedicated to supporting the open source scientific computing community. If you like Shogun and want to support our mission, please consider making a <a href="http://mailstat.us/tr/t/deobxy08j6mjjegv/2/https://www.flipcause.com/widget/give_now/MTk0MjM=">donation</a> to support our efforts.
        </p>
      </div>
    </div>

  </div>
</div>
