<div id="hero">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <img src="{{ url_for( 'static', filename='images/shogun_logo2.png') }}"/>
      </div>

      <div class="col-md-8 col-md-offset-1">
        <h1 class="hero-text animated fadeInDown">
          A Large Scale Machine Learning Toolbox
        </h1>
        <div class="cta animated fadeInDown">
          <a href="#" class="button-outline">Download Shogun</a>
          <p>verision 4.0.0</p>
        </div>
      </div>

    </div>
  </div>
</div>
