{% include "partials/fork_me.html" %}
<div class="container">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">Shogun</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Home</a></li>
    <li><a href="/examples" target="_blank">Examples</a></li>
    <li><a href="/install">Install</a></li>
    <li><a href="/gallery">Showroom</a></li>
    <li><a href="https://github.com/shogun-toolbox/shogun/wiki" target="_blank">Development wiki</a></li>
    <li><a href="#footer" class="smooth-scroll">Contact</a></li>
  </ul>
</div>
