<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Latest Release</h3>
  </div>

  <div class="panel-body">
    <strong>Shogun 3.2.0</strong><br>
    <em>"In $DEITY we trust all others bring data"</em><br><br>
    <strong>Change Log</strong>
    <ul>
      <li>Fully support python3 now</li>
      <li>Add mini-batch k-means [Parijat Mazumdar]</li>
      <li>Add k-means++ [Parijat Mazumdar]</li>
      <li>Add sub-sequence string kernel [lambday]</li>
    </ul>
  </div>
</div>
