<div class="row">
  <div class="col-md-1">
    <i class="fa fa-file-code-o fa-3x" style="line-height: inherit"></i>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <h3>Latest Release</h3>
  </div>
</div>

<hr>

<strong>Shogun 3.2.0</strong><br>
<em>"In $DEITY we trust all others bring data"</em><br><br>
<strong>Change Log</strong>
<ul>
  <li>Fully support python3 now</li>
  <li>Add mini-batch k-means [Parijat Mazumdar]</li>
  <li>Add k-means++ [Parijat Mazumdar]</li>
  <li>Add sub-sequence string kernel [lambday]</li>
</ul>
