<div class="row">
  <div class="col-md-1">
    <i class="fa fa-file-code-o fa-3x" style="line-height: inherit"></i>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <h3>Latest Release</h3>
  </div>
</div>

<hr>

<strong>Shogun 4.0.0</strong>
<em>"Kose no Maro"</em><br>
This release features the work of our 8 GSoC 2014 students [student; mentors]:
<ul>
  <li>OpenCV Integration and Computer Vision Applications [Abhijeet Kislay; Kevin Hughes]</li>
  <li>Large-Scale Multi-Label Classification [Abinash Panda; Thoralf Klein]</li>
  <li>Large-scale structured prediction with approximate inference [Jiaolong Xu; Shell Hu]</li>
  <li>Essential Deep Learning Modules [Khaled Nasr; Sergey Lisitsyn, Theofanis Karaletsos]</li>
  <li>Fundamental Machine Learning: decision trees, kernel density estimation [Parijat Mazumdar ; Fernando Iglesias]</li>
  <li>Shogun Missionary & Shogun in Education [Saurabh Mahindre; Heiko Strathmann]</li>
  <li>Testing and Measuring Variable Interactions With Kernels [Soumyajit De; Dino Sejdinovic, Heiko Strathmann]</li>
  <li>Variational Learning for Gaussian Processes [Wu Lin; Heiko Strathmann, Emtiyaz Khan]</li>
</ul>

<a href="https://github.com/shogun-toolbox/shogun/releases/tag/shogun_4.0.0" target="_blank">full change log</a>
