{% extends "base.html" %}

{% block title %} - About {% endblock %}

{% block content %}

<header class="navbar navbar-inverse normal" role="banner">
{% include "partials/navbar.html" %}
</header>

<div class="container mt">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
      <h1>Our Team</h1>
      <p>A picture of the team together taken during the Summer 2013 Workshop.</p>
      <img src="{{ url_for( 'static', filename='images/shogun_core_team.jpg') }}" border="0" align="left" alt="The Shogun Core Team" style="width:800px; height:600px"/>
      <p>From left to right: Viktor Gal, Fernando Iglesias, Heiko Strathmann, Sergey Lisitsyn and Soeren Sonnenburg.</p>
    </div>
  </div>
</div>

<hr>

<div class="container pt">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <dt>
      <h3>References</h3>
      </dt>
      <tbody>
      <tr>
      <td>J. Liu, S. Ji, and J. Ye. SLEP: Sparse Learning with Efficient Projections. Arizona State University, 2009. <a href="http://www.public.asu.edu/~jye02/Software/SLEP" target="_blank">http://www.public.asu.edu/~jye02/Software/SLEP</a></td>
      </tr>
      </tbody>
      </table>
      <table id="id23" class="docutils footnote" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>J. Zhou, J. Chen and J. Ye. MALSAR: Multi-tAsk Learning via StructurAl Regularization. Arizona State University, 2012. <a href="http://www.public.asu.edu/~jye02/Software/MALSAR" target="_blank">http://www.public.asu.edu/~jye02/Software/MALSAR</a></td>
      </tr>
      </tbody>
      </table>
      <table id="id23" class="docutils footnote" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>C.Cortes and V.N. Vapnik.  Support-vector networks. Machine Learning, 20(3):273--297, 1995.</td>
      </tr>
      </tbody>
      </table>
      <table id="id24" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>C.-C. Chang and C.-J. Lin, LIBSVM : a library for support vector machines, 2001. Software available at <a href="http://www.csie.ntu.edu.tw/%7Ecjlin/libsvm" target="_blank">http://www.csie.ntu.edu.tw/~cjlin/libsvm</a></td>
      </tr>
      </tbody>
      </table>
      <table id="id25" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>T.Joachims. Making large-scale SVM learning practical. In B.Schoelkopf, C.J.C. Burges, and A.J. Smola, editors, Advances in Kernel Methods -          Support Vector Learning, pages 169--184, Cambridge, MA, 1999. MIT Press.</td>
      </tr>
      </tbody>
      </table>
      <table id="id24a" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>V. Sindhwani, S. S. Keerthi. Large Scale Semi-supervised Linear SVMs. SIGIR, 2006.</td>
      </tr>
      </tbody>
      </table>
      <table id="id25a" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>L. Zanni, T. Serafini, G. Zanghirati. Parallel Software            for Training Large Scale Support Vector Machines on           Multiprocessor Systems. JMLR 7(Jul), 1467-1492, 2006.</td>
      </tr>
      </tbody>
      </table>
      <table id="id26" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>A.Zien, G.Raetsch, S.Mika, B.Schoelkopf, T.Lengauer, and K.-R.          Mueller. Engineering Support Vector Machine Kernels That Recognize          Translation Initiation Sites. Bioinformatics, 16(9):799-807, September 2000.</td>
      </tr>
      </tbody>
      </table>
      <table id="id27" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>T.S. Jaakkola and D.Haussler.Exploiting generative models in          discriminative classifiers. In M.S. Kearns, S.A. Solla, and D.A. Cohn,          editors, Advances in Neural Information Processing Systems, volume 11,          pages 487-493, 1999.</td>
      </tr>
      </tbody>
      </table>
      <table id="id28" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>K.Tsuda, M.Kawanabe, G.Raetsch, S.Sonnenburg, and K.R. Mueller.           A new discriminative kernel from probabilistic models.          Neural Computation, 14:2397--2414, 2002.</td>
      </tr>
      </tbody>
      </table>
      <table id="id29" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>C.Leslie, E.Eskin, and W.S. Noble. The spectrum kernel: A string kernel           for SVM protein classification. In R.B. Altman, A.K. Dunker, L.Hunter,          K.Lauderdale, and T.E. Klein, editors, Proceedings of the Pacific           Symposium on Biocomputing, pages 564-575, Kaua'i, Hawaii, 2002.</td>
      </tr>
      </tbody>
      </table>
      <table id="id30" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>G.Raetsch and S.Sonnenburg. Accurate Splice Site Prediction for           Caenorhabditis Elegans, pages 277-298. MIT Press series on Computational          Molecular Biology. MIT Press, 2004.</td>
      </tr>
      </tbody>
      </table>
      <table id="id31" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>G.Raetsch, S.Sonnenburg, and B.Schoelkopf. RASE: recognition of           alternatively spliced exons in c. elegans. Bioinformatics,          21:i369--i377, June 2005.</td>
      </tr>
      </tbody>
      </table>
      <table id="id32" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S.Sonnenburg, G.Raetsch, and B.Schoelkopf. Large scale genomic sequence           SVM classifiers. In Proceedings of the 22nd International Machine Learning          Conference. ACM Press, 2005.</td>
      </tr>
      </tbody>
      </table>
      <table id="id33" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S.Sonnenburg, G.Raetsch, and C.Schaefer. Learning interpretable SVMs          for biological sequence classification. In RECOMB 2005, LNBI 3500,          pages 389-407. Springer-Verlag Berlin Heidelberg, 2005.</td>
      </tr>
      </tbody>
      </table>
      <table id="id34" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>G.Raetsch, S.Sonnenburg, and C.Schaefer. Learning Interpretable SVMs          for Biological Sequence Classification. BMC Bioinformatics, Special Issue           from NIPS workshop on New Problems and Methods in Computational Biology           Whistler, Canada, 18 December 2004, 7:(Suppl. 1):S9, March 2006.</td>
      </tr>
      </tbody>
      </table>
      <table id="id35" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S.Sonnenburg.New methods for splice site recognition. Master's thesis,          Humboldt University, 2002. supervised by K.-R. Mueller H.-D. Burkhard and           G.Raetsch.</td>
      </tr>
      </tbody>
      </table>
      <table id="id36" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S.Sonnenburg, G.Raetsch, A.Jagota, and K.-R. Mueller. New methods for           splice-site recognition. In Proceedings of the International Conference on          Artifical Neural Networks, 2002.  Copyright by Springer.</td>
      </tr>
      </tbody>
      </table>
      <table id="id37" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S.Sonnenburg, A.Zien, and G.Raetsch. ARTS: Accurate Recognition of          Transcription Starts in Human. 2006.  (accepted).</td>
      </tr>
      </tbody>
      </table>
      <table id="id38" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S.Sonnenburg, G.Raetsch, C.Schaefer, and B.Schoelkopf,Large Scale           Multiple Kernel Learning, Journal of Machine Learning Research, 2006,           K.Bennett and E.P.-Hernandez Editors</td>
      </tr>
      </tbody>
      </table>
      <table id="id39" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>M.Kloft, U.Brefeldt, S.Sonnenburg, A.Zien, P.Laskov, K.-R. Mueller, Efficient and Accurate Lp-Norm Multiple Kernel Learning,            Advances in Neural Information Processing Systems 21, MIT Press, Cambridge, MA,2009</td>
      </tr>
      </tbody>
      </table>
      <table id="id40" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>R.-E. Fan, K.-W. Chang, C.-J. Hsieh, X.-R. Wang, and C.-J. Lin. LIBLINEAR: A Library for Large Linear Classification, Journal of Machine Learning Research 9(2008), 1871-1874. Software available at <a href="http://www.csie.ntu.edu.tw/~cjlin/liblinear" target="_blank">http://www.csie.ntu.edu.tw/~cjlin/liblinear/</a></td>
      </tr>
      </tbody>
      </table>
      <table id="id42" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>V. Franc, S. Sonnenburg.  Optimized Cutting Plane Algorithm for Large-Scale Risk Minimization, Journal of Machine Learning Research 10(2009), 2157--2192, Software available at <a href="http://cmp.felk.cvut.cz/~xfrancv/ocas/html" target="_blank"></a>http://jmlr.csail.mit.edu/papers/v10/franc09a.html</td>
      </tr>
      </tbody>
      </table>
      <table id="id44" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S. Sonnenburg, V. Franc. COFFIN: A Computational Framework for Linear SVMs, Research Report, Center for Machine Perception, K13133 FEE Czech Technical University, 2009</td>
      </tr>
      </tbody>
      </table>
      <table id="id44" class="docutils" border="0" frame="void" rules="none">
      <tbody>
      <tr>
      <td>S. Sonnenburg, V. Franc. COFFIN: A Computational Framework for Linear SVMs. Proceedings of the 27nd International Machine Learning Conference, 2010.</td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
