<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shogun Machine Learning{% block title %}{% endblock %}</title>

    {% assets "css_all" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>

  <body>

    {% include "navbar.html" %}

    {% include "overlay.html" %}

    <div class="container page">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% include "footer.html" %}

  </body>
</html>
