<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shogun Machine Learning{% block title %}{% endblock %}</title>

    <meta name="keywords" content="shogun, shogun machine learning toolbox, c++, machine learning, data mining, classification, regression, svm, tree-based methods, clustering, streaming, efficient, efficient machine learning, machine learning library, data science">
    <meta name="description" content="shogun: large scale c++ machine learning library">

    {% assets "css_all" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% endassets %}

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    {% endassets %}

  <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "SoftwareApplication",
        "name" : "Shogun Machine Learning",
        "image" : "http://shogun-toolbox.org/static/images/shogun_logo2.png",
        "downloadUrl" : "https://github.com/shogun-toolbox/shogun/releases/latest",
        "operatingSystem": "Linux/Unix, MacOS and Windows",
        "applicationCategory": "Library Software",
        "applicationSubCategory": "machine learning",
        "description": "Shogun is a large scale machine learning library written in c++, with interfaces for C#, Java, Lua, Octave, Python, Ruby.",
        "license": "https://www.gnu.org/licenses/gpl-3.0.en.html"
      }
    </script>
  </head>

  <body>
    {% include "partials/overlay.html" %}

    <div class="page">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% include "partials/footer.html" %}

    <!-- smooth scroll to anchor script -->
    <script type='text/javascript'>
    $(function() {
      $('a.smooth-scroll').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>
  </body>
</html>
