{% extends "base.html" %}

  {% block title %} - Planet {% endblock %}

  {% block content %}

    <header class="navbar navbar-inverse normal" role="banner">
      {% include "partials/navbar.html" %}
    </header>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ url_for( 'static', filename='vendor/underscore-min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
      google.load("feeds", "1");
      var template = " \
      <div class='container'> \
        <div class='row mt'> \
          <h2><%= entry.title %></h2> \
          <div><%= entry.content %></div> \
          <a href=<%=entry.link%> target='_blank'>Continue reading ...</a> \
        </div> \
      </div> \
      "

      function initialize() {
        var feed = new google.feeds.Feed("http://shogun-planet.herokuapp.com/feed");
        feed.setNumEntries(20);
        feed.includeHistoricalEntries();

        feed.load(function(result) {
          if (!result.error) {
            var container = document.getElementById("feed");
            for (var i = result.feed.entries.length - 1; i > 0; i--) {
              var entry = result.feed.entries[i];

              var div = document.createElement("div");
              var html = _.template(template);
              div.innerHTML = html({entry: entry});
              container.appendChild(div);
            }
          }
        });
      }

      google.setOnLoadCallback(initialize);
    </script>

    <div id="feed"></div>

  {% endblock %}
