<div id="footer">
  <a name="Contact">
  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <h4>Contact Us</h4>
        <p>
          <a href="http://sonnenburgs.de/soeren" target="_blank">Soeren Sonnenburg</a><br/>
          <a href="mailto://lisitsyn.s.o@gmail.com">Sergey Lisitsyn</a><br/>
          <a href="http://herrstrathmann.de/" target="_blank">Heiko Strathmann</a><br/>
          <a href="http://raetschlab.org" target="_blank">Gunnar Raetsch</a>
        </p>
      </div>

      <div class="col-lg-4">
        <h4>Mailing List</h4>
        <p>
          <a href="mailto:shogun-list-subscribe@shogun-toolbox.org" target="_blank">Subscribe</a><br/>
          <a href="mailto:shogun-list-unsubscribe@shogun-toolbox.org" target="_blank">Unsubscribe</a><br/>
          <a href="mailto:shogun-list@shogun-toolbox.org" target="_blank">Post</a><br/>
          <a href="http://news.gmane.org/gmane.comp.ai.machine-learning.shogun" target="_blank">Read the archive</a><br/>
        </p>
      </div>

      <div class="col-lg-4" style="position-relative">
        <h4>IRC</h4>
        <p>
          Chat with us on IRC - <strong>#shogun</strong> on freenode. You can also connect with <a href="http://webchat.freenode.net/?channels=shogun&amp;uio=d4" target="_blank">webchat#shogun</a> directly in your browser. All chats are logged <a href="/irclogs">here</a> for your convience.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h4>Cite Us</h4>
        <p align="justify">
          If you use SHOGUN in your research you are kindly asked to cite the following paper:
          <a href="http://dl.acm.org/citation.cfm?id=1859911" target="_blank">Soeren Sonnenburg, Gunnar Raetsch, Sebastian Henschel, Christian Widmer, Jonas Behr, Alexander Zien, Fabio de Bona, Alexander Binder, Christian Gehl, and Vojtech Franc. The SHOGUN Machine Learning Toolbox. Journal of Machine Learning Research, 11:1799-1802, June 2010.</a>
        </p>
      </div>

      <div class="col-lg-6">
        <h4>License</h4>
        <p align="justify">
          <img src="{{ url_for('static', filename='img/gplv3.png') }}" border="0" alt="GPLv3 Logo" align="right" style="padding: 8px 8px 8px 8px;"/> SHOGUN is licensed under the GPL version 3 (cf. LICENSE). Except for <a href="http://svmlight.joachims.org" target="_blank"></a>SVMLight which is (C) Torsten Joachims and follows a different licensing scheme (cf. LICENSE.SVMLight in the tar achive)
        </p>
      </div>
    </div>
  </div>
</div>
