{% extends "base.html" %}

{% block title %} - IRC Logs {% endblock %}

{% block content %}

  <header class="navbar navbar-inverse normal" role="banner">
    {% include "partials/navbar.html" %}
  </header>

  <div class="container mt">
    {% if logs %}
      <div class="col-lg-8 col-lg-offset-2">
        {% for year_name, year in logs %}
          <h2>{{year_name}}</h2>

          {% for month_name, months in year %}
            <h3>{{month_name}}</h3>

            {% for weeks in months %}
              <table class="table table-striped table-bordered">

                <tr>
                  <td>Mon</td>
                  <td>Tue</td>
                  <td>Wed</td>
                  <td>Thu</td>
                  <td>Fri</td>
                  <td>Sat</td>
                  <td>Sun</td>
                </tr>

                {% for week in weeks %}
                  <tr>
                    {% for day,link,size in week %}
                      <td>
                        {% if day %}
                        {% if link %}
                        <a href="/irclog/{{link}}/">{{day}}</a> ({{size}}kB)
                        {% else %}
                        {{day}}
                        {% endif %}
                        {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>
            {% endfor %}
          {% endfor %}
        {% endfor %}
       </div>
    {% else %}
      {{log|safe}}
    {% endif %}
  </div>
{% endblock %}
